## 30/01/2023

In [1]:
a=10

In [2]:
a='c'

In [3]:
type(a)

str

In [5]:
int()

0

In [6]:
int("123")

123

In [7]:
int('abc')

ValueError: invalid literal for int() with base 10: 'abc'

In [8]:
print("Hello World")

Hello World

In [9]:
print(123)

123

In [2]:
age=23
print("My age is:",age)

My age is: 23

In [3]:
print("My age is: {age}")

My age is: {age}

In [4]:
## f string to call the variable without writing comma.
print(f"My age is: {age}")

My age is: 23

In [5]:
## format()
name = "Arghya"
age = 23
print("My name is {} and age is {}".format(name,age))

My name is Arghya and age is 23

In [6]:
print("My name is {} and age is {}".format(age,name))

My name is 23 and age is Arghya

In [9]:
## placeholder
print("My name is {firstname} and age is {presentage}".format(presentage = age, firstname = name))
# In this case we can write age before name but it doesn't create any impact on the result.
# As we defined two valiables named presentage and firstname.
# Now ordering doesn't matter.

My name is Arghya and age is 23

name = "Arghya Chatterjee"
age = 23
degree = "B.Sc"
" My age is 23 and I have completed : My degree of B.Sc with the name of Arghya Chatterjee"

In [15]:
name = "Arghya Chatterjee"
age = 23
degree = "B.Sc"
print(f"My age is {age} and I have completed : My degree of {degree} with the name of {name}")

My age is 23 and I have completed : My degree of B.Sc with the name of Arghya Chatterjee

In [16]:
# .format()
print("My age is {a1} and I have completed : My degree of {d1} with the name of {n1}".format(n1 = name, d1 = degree, a1 = age))

My age is 23 and I have completed : My degree of B.Sc with the name of Arghya Chatterjee

## Control Flow
### Decision Making Statements

In [15]:
## If statements

age = 18
if age >=18:
    print("You are eligible to vote")

You are eligible to vote

In [16]:
input()

 Arghya

'Arghya '

In [17]:
name = input("Enter the name")

Enter the name Cristiano Ronaldo

In [18]:
age = int(input("Enter your age"))

Enter your age 23

In [19]:
type(age)

int

In [21]:
True and False

False

In [20]:
age = int(input("Enter your age"))
if age>=18 and age<=45:
    print("You are young blood")

Enter your age 41

You are young blood

In [22]:
## If else Statement
age = int(input("Enter your age"))
if age>=18 and age<=45:
    print("You are young blood")
else:
    print("Thank you, We will let you know")

Enter your age 17

Thank you, We will let you know

In [17]:
product_price = int(input("Enter the product price"))
    
if product_price >1000:
    print("The price of the product is {}".format(product_price*0.8))
else:
    print("The price of the product is {}".format(product_price*0.7))

Enter the product price 999

The price of the product is 699.3

In [29]:
int((30/100)*459)

137

In [33]:
product_price = int(input("Enter the product price"))
if product_price >1000:
    print(f"The price of the product is {product_price*0.8}")
else:
    print(f"The price of the product is {product_price*0.7}")

Enter the product price 459

The price of the product is 321.29999999999995

In [42]:
product_price = int(input("Enter the product price"))
if product_price >3000:
    if product_price >=4000:
        print("Congratulations, you get a goa trip")
    print(f"The price of the product is {product_price*0.8}")
elif product_price >=2000 and product_price <=3000:
    if product_price == 2999:
        print("Congratulations you get an additional gift")
    print(f"The price of the product is {product_price*0.7}") 
elif product_price >=100 and product_price <2000:
    print(f"The price of the product is {product_price*0.6}")
else:
    print("Lets drink tea")

Enter the product price 1324

The price of the product is 794.4

In [22]:
## Single statement suites
val = int(input("Enter the number"))
if(val<=999):print("Value is less than eual to 999")
else:
    print("go to home")

Enter the number 1000

go to home

Loop
1. while loop
2. for loop
3. nested loop
4. loop control ( break, continue, pass)

In [2]:
# while loop
joining_age=25
while joining_age<=60:
    print(joining_age, end=' ')
    joining_age=joining_age+1
    
else:
    print("\nIt's time for retirement")

25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48 49 50 51 52 53 54 55 56 57 58 59 60
It's time for retirement

In [45]:
## Atm machine with 1000 rs
total_amount=1000
while total_amount !=0:
    print(total_amount,end=')
    total_amount=total_amount-100
else:
    print("Put more money bank people")

1000
900
800
700
600
500
400
300
200
100
Put more money bank people

In [9]:
## For Loop
lst=["Arghya", 2,4,6,"Apple"]

In [15]:
list = [ "mango", "Apple", 1, 2, 3]
for x in list:
    print(x,end=' ')

mango Apple 1 2 3

In [9]:
fruits_list = ["Mango","Apple", "Orange", "Papaya", "Banana"]

In [12]:
for a in fruits_list:
    print(a, end = ", ")
    if a == "Papaya":
        print("The fruit is Papaya")

Mango, Apple, Orange, Papaya, The fruit is Papaya
Banana,

In [14]:
for a in fruits_list:
    print(a, end = ", ")
    if a == "Papaya":
        print("The fruit is Papaya")
        break
        
## break is used for coming out of the loop.

Mango, Apple, Orange, Papaya, The fruit is Papaya

In [15]:
Name = "Arghya"
for x in Name:
    print(x, end=" ")

A r g h y a

In [16]:
Name[4]

'y'

In [29]:
## Nested Loops
n=7
for i in range(0,n):
    for j in range(0,i+1):
        print("*",end=" ")

* * * * * * * * * * * * * * * * * * * * * * * * * * * *

In [18]:
for i in range(1,6):
    print(i,end=" ")

1 2 3 4 5

In [22]:
for i in range(6):
    print(i,end=" ")

0 1 2 3 4 5

In [23]:
for i in range(1,6,2):
    print(i,end=" ")

1 3 5

In [39]:
n=7
for i in range(0,n):
    for j in range(0,i+1):
        print("*",end=" ")
    print("\r")

*
* *
* * *
* * * *
* * * * *
* * * * * *
* * * * * * *

In [4]:
## Assignment
n = int(input("Enter the triangle length : "))
for i in range(n):
    for j in range(n-i):
        print(" ",end=" ")
    for k in range(i+1):
        print("*",end=" ")
    for m in range(k-1):
        print("*",end=" ")   
    print()

Enter the triangle length :  7

              *
            * *
          * * * *
        * * * * * *
      * * * * * * * *
    * * * * * * * * * *
  * * * * * * * * * * * *

In [6]:
n = int(input("Enter the triangle length : "))
for i in range(n):
    print(" "*(n-i),end=" ")
    for j in range(i*2+1):
        print("*",end=" ")
    print()

Enter the triangle length :  7

        *
       * * *
      * * * * *
     * * * * * * *
    * * * * * * * * *
   * * * * * * * * * * *
  * * * * * * * * * * * * *

In [10]:
## Loop controls
## Break and Continue


fruits_list = ["Mango","Apple", "Orange", "Papaya", "Banana"]

In [15]:
for i in fruits_list:
    if i == "Orange":
        print("The fruit is Orange")
        break  # Break will stop the loop
    print(i)

Mango
Apple
The fruit is Orange

In [13]:
for i in fruits_list:
    if i == "Orange":
        print("The fruit is Orange")
        pass
    print(i)

Mango
Apple
The fruit is Orange
Orange
Papaya
Banana

In [16]:
for i in fruits_list:
    if i == "Orange":
        print("The fruit is Orange")
        continue  # Continue will skip the loop
    print(i)

Mango
Apple
The fruit is Orange
Papaya
Banana