## 02/02/2023

## Tuples

In [1]:
t = ()

In [2]:
type(t)

tuple

In [2]:
t1 = (1, 2, 3, 4, 45, 45.5, 45+7j, "Arghya", True)

In [3]:
type(t1)

tuple

In [4]:
l1 = [1, 2, 3, 4, 45, 45.5, 45+7j, "Arghya", True]

In [5]:
type(l1)

list

In [6]:
t1[0]

1

In [7]:
t1[7]

'Arghya'

In [8]:
t1[-6]

4

In [9]:
t1 = t1[::-1]

In [10]:
t1

(True, 'Arghya', (45+7j), 45.5, 45, 4, 3, 2, 1)

In [11]:
t1[0:3]

(True, 'Arghya', (45+7j))

In [14]:
t1.count("Arghya")

1

In [15]:
t1.index(1) # As system considers True = 1 and true is in 0th position that' y out put will be zero.

0

In [20]:
t1.count(True)  # As system stores boolean variable True as 1 so technically there are two 1.

2

In [22]:
t1.count(1) ## Above logic

2

In [18]:
t1.index("Arghya")

1

Tuples basically follows immmutability concepts where it's not going to allow to change any element at a particular index

In [23]:
t1[1] = "CR7" # Tuples is immutable

TypeError: 'tuple' object does not support item assignment

In [24]:
l1[1] = "CR7" # List is mutable

In [25]:
l1

[1, 'CR7', 3, 4, 45, 45.5, (45+7j), 'Arghya', True]

In [27]:
# Iterate using for loop 
for i in t1:
    print(i, end= " ")

True Arghya (45+7j) 45.5 45 4 3 2 1

In [32]:
for i in t1:
    print(i, type(i))

True <class 'bool'>
Arghya <class 'str'>
(45+7j) <class 'complex'>
45.5 <class 'float'>
45 <class 'int'>
4 <class 'int'>
3 <class 'int'>
2 <class 'int'>
1 <class 'int'>

In [17]:
t2 = (1,2,3)

In [18]:
t2

(1, 2, 3)

In [19]:
t2*3

(1, 2, 3, 1, 2, 3, 1, 2, 3)

In [20]:
max(t2)

3

In [21]:
min(t2)

1

In [23]:
list(t2) # Tuples to list

[1, 2, 3]

In [45]:
# Tuples in a Tuples
T1 = (1,2,3)
T2 = (3,4,5)

In [43]:
T = (T1,T2)

In [44]:
T

((1, 2, 3), (3, 4, 5))

In [48]:
# list tnside a tuples
T4 = ((1,2,3),[1,2,3])

In [47]:
T4

((1, 2, 3), [1, 2, 3])

In [55]:
# Tuples in a list
L = [(1,2),(0,9,6)]

In [56]:
L

[(1, 2), (0, 9, 6)]

In [49]:
#To delete the tuples
del T4

In [50]:
T4

NameError: name 'T4' is not defined

In [51]:
# To find the length of a tuples
len(t1)

9

In [53]:
# To check some element in tuples
"arghya" in t1

False

In [54]:
"Arghya" in t1

True

## Sets

In [8]:
s = {} # When use a blank curly braces it will take as dictionary

In [2]:
type(s)

dict

In [9]:
s1 = {1,2,3}

In [10]:
type(s1)

set

In [11]:
s1

{1, 2, 3}

In [13]:
s2 = {1,9,16,25,4,3,9,25} # Set will remove all duplicate elements

In [14]:
s2

{1, 3, 4, 9, 16, 25}

In [25]:
# Convert a set into a list
l = list(s2)

In [26]:
l

[16, 1, 3, 4, 9, 25]

In [16]:
# Convert a set into a tuple
tuple(s2)

(16, 1, 3, 4, 9, 25)

In [27]:
set(l)

{1, 3, 4, 9, 16, 25}

In [30]:
s3 = {1,2,3,[1,2,3]} # As list is mutable

TypeError: unhashable type: 'list'

In [33]:
s4 = {1,2,3,(1,2,3)} # It won't giove an error as tuple is immutable

In [34]:
s4

{(1, 2, 3), 1, 2, 3}

In [67]:
s5 ={"Arghya", "arghya",2,2.1,5,True}

In [68]:
s5

{2, 2.1, 5, 'Arghya', True, 'arghya'}

In [41]:
s5[0] # In set indexing concepts does not work

TypeError: 'set' object is not subscriptable

In [42]:
s5[::-1]

TypeError: 'set' object is not subscriptable

In [45]:
# Iterating using for loop
for i in s5:
    print(i)

True
2
2.1
5
arghya
Arghya

In [69]:
s5.add(9) # to add an element

In [70]:
s5

{2, 2.1, 5, 9, 'Arghya', True, 'arghya'}

In [71]:
len(s5) # to check length of a set

7

In [72]:
s5.pop() # To remove an elemnt from the set

True

In [73]:
s5.pop()

2

In [74]:
s5.pop()

2.1

In [75]:
s5.pop()

5

In [76]:
s5

{9, 'Arghya', 'arghya'}

In [77]:
s5.clear() # to remove all the elements from the sets

In [78]:
s5

set()

In [79]:
s6 = {1,2,3,4}
s7 = {1,2,5,6}

In [82]:
# To see the difference between two sets
s6.difference(s7)

{3, 4}

In [83]:
s7.difference(s6)

{5, 6}

## Dictionary

In [188]:
d = {}

In [87]:
type(d)

dict

In [88]:
# In a dictionary we have to put a keyword for assign a value
d1 = {"Name" : "Arghya", "Age" : 23, "Blood_Group" :"B+"}

In [89]:
d1

{'Name': 'Arghya', 'Age': 23, 'Blood_Group': 'B+'}

In [90]:
type(d1)

dict

In [93]:
d2 = {"Name" : "Arghya", "Name" : "CR7"} # Key should be always unique else it will update the recent most value

In [94]:
d2

{'Name': 'CR7'}

In [100]:
d3 = {12345 : "abc"} # Keyword can be a integer or a float or a string or a boolean value

In [101]:
d3

{12345: 'abc'}

In [104]:
d4 = {12.345 : "abc"}

In [105]:
d4

{12.345: 'abc'}

In [106]:
d5 = {True : "abc"}

In [107]:
d5

{True: 'abc'}

In [109]:
d6 = {@ : "abc"}  # Dict won't allow a special character as a keyword

SyntaxError: invalid syntax (1264215693.py, line 1)

In [110]:
d7 = {[1,2,3] : "abc"} # We can't take a list as a keyword

TypeError: unhashable type: 'list'

In [115]:
d8 = {(1,2,3) : "abc"} # We can take a tuple as a keyword

In [116]:
d8

{(1, 2, 3): 'abc'}

In [118]:
d9 = {{1,2,3} : "abc"} # We can't take a set as a keyword

TypeError: unhashable type: 'set'

In [121]:
d11 = {{1,2,3} : "abc"} # We can't take a set as a keyword

TypeError: unhashable type: 'set'

In [119]:
d10 = {{"key":625} : "abc"} # We can't take a dictionary as a keyword

TypeError: unhashable type: 'dict'

In [1]:
d11 = {"course_name" : ["Data Science", "Ai", "ML"]} # We can take value as a list

In [2]:
d11

{'course_name': ['Data Science', 'Ai', 'ML']}

In [3]:
d12 = {'course_name': ('Data Science', 'Ai', 'ML')}  # We can take value as a tuple

In [4]:
d12

{'course_name': ('Data Science', 'Ai', 'ML')}

In [5]:
d13 = {'course_name': {'Data Science', 'Ai', 'ML'}}    # We can take value as a set

In [6]:
d13

{'course_name': {'Ai', 'Data Science', 'ML'}}

In [44]:
# We can take value as a dictionary 
## Nested Dictionary
d14 = {"Key" : {"Name" : "Arghya", "Class" : "Data Science Masters"}, "Age" : 23}

In [45]:
d14

{'Key': {'Name': 'Arghya', 'Class': 'Data Science Masters'}, 'Age': 23}

In [140]:
# List, Tuples, Set inside a dictionary
d15 = {"Name" : ["Arghya", "Himaghna", "Subham"], "Age" : (23, 24, 22), "Profession" : {"Job", "Business", "Social Work"}}

In [141]:
d15

{'Name': ['Arghya', 'Himaghna', 'Subham'],
 'Age': (23, 24, 22),
 'Profession': {'Business', 'Job', 'Social Work'}}

In [142]:
# Insert a new key and a value 
d15["Experience"] = {"DS" : "1 year", "Tea Business" : "5 years", "NGO" : "3 years"}

In [143]:
d15

{'Name': ['Arghya', 'Himaghna', 'Subham'],
 'Age': (23, 24, 22),
 'Profession': {'Business', 'Job', 'Social Work'},
 'Experience': {'DS': '1 year', 'Tea Business': '5 years', 'NGO': '3 years'}}

In [144]:
# Extracting a data
d15["Name"]

['Arghya', 'Himaghna', 'Subham']

In [145]:
type(d15["Name"])

list

In [146]:
d15["Name"][0]

'Arghya'

In [147]:
d15["Age"]

(23, 24, 22)

In [148]:
type(d15["Age"])

tuple

In [149]:
d15["Profession"]

{'Business', 'Job', 'Social Work'}

In [150]:
type(d15["Profession"])

set

In [151]:
d15["Experience"]

{'DS': '1 year', 'Tea Business': '5 years', 'NGO': '3 years'}

In [152]:
type(d15["Experience"])

dict

In [153]:
d15["Country"] = "india"

In [154]:
d15

{'Name': ['Arghya', 'Himaghna', 'Subham'],
 'Age': (23, 24, 22),
 'Profession': {'Business', 'Job', 'Social Work'},
 'Experience': {'DS': '1 year', 'Tea Business': '5 years', 'NGO': '3 years'},
 'Country': 'india'}

In [155]:
d15["Country"].upper()

'INDIA'

In [156]:
d15["Experience"]["NGO"] # To access the element inside the dic inside the main dict

'3 years'

In [157]:
type(d15["Experience"]["NGO"])

str

In [158]:
d15["Key"] = "abc"

In [159]:
d15

{'Name': ['Arghya', 'Himaghna', 'Subham'],
 'Age': (23, 24, 22),
 'Profession': {'Business', 'Job', 'Social Work'},
 'Experience': {'DS': '1 year', 'Tea Business': '5 years', 'NGO': '3 years'},
 'Country': 'india',
 'Key': 'abc'}

In [160]:
# To delete a key word with its value
del d15["Key"]

In [161]:
d15

{'Name': ['Arghya', 'Himaghna', 'Subham'],
 'Age': (23, 24, 22),
 'Profession': {'Business', 'Job', 'Social Work'},
 'Experience': {'DS': '1 year', 'Tea Business': '5 years', 'NGO': '3 years'},
 'Country': 'india'}

In [162]:
del d15["Experience"]["NGO"]

In [163]:
d15

{'Name': ['Arghya', 'Himaghna', 'Subham'],
 'Age': (23, 24, 22),
 'Profession': {'Business', 'Job', 'Social Work'},
 'Experience': {'DS': '1 year', 'Tea Business': '5 years'},
 'Country': 'india'}

In [164]:
del d15["Profession"]["Social Work"]

TypeError: 'set' object does not support item deletion

In [165]:
del d15["Age"][22]

TypeError: 'tuple' object doesn't support item deletion

In [166]:
len(d15)

5

In [167]:
d15.keys() # To know the all keyword

dict_keys(['Name', 'Age', 'Profession', 'Experience', 'Country'])

In [168]:
d15.values() # To know the all the values

dict_values([['Arghya', 'Himaghna', 'Subham'], (23, 24, 22), {'Job', 'Business', 'Social Work'}, {'DS': '1 year', 'Tea Business': '5 years'}, 'india'])

In [169]:
list(d15.values())

[['Arghya', 'Himaghna', 'Subham'],
 (23, 24, 22),
 {'Business', 'Job', 'Social Work'},
 {'DS': '1 year', 'Tea Business': '5 years'},
 'india']

In [170]:
list(d15.keys())

['Name', 'Age', 'Profession', 'Experience', 'Country']

In [171]:
d15.items() # To extract key and value pair both

dict_items([('Name', ['Arghya', 'Himaghna', 'Subham']), ('Age', (23, 24, 22)), ('Profession', {'Job', 'Business', 'Social Work'}), ('Experience', {'DS': '1 year', 'Tea Business': '5 years'}), ('Country', 'india')])

In [172]:
list(d15.items())

[('Name', ['Arghya', 'Himaghna', 'Subham']),
 ('Age', (23, 24, 22)),
 ('Profession', {'Business', 'Job', 'Social Work'}),
 ('Experience', {'DS': '1 year', 'Tea Business': '5 years'}),
 ('Country', 'india')]

In [173]:
# To make a copy 
d16 = d15.copy()  # Make a deep copy

In [174]:
d16

{'Name': ['Arghya', 'Himaghna', 'Subham'],
 'Age': (23, 24, 22),
 'Profession': {'Business', 'Job', 'Social Work'},
 'Experience': {'DS': '1 year', 'Tea Business': '5 years'},
 'Country': 'india'}

Copy method: if you are going to change something on a dictionary it will not impact other dictionary. But in normal copy method will impact others

In [175]:
del d15["Country"]

In [176]:
d15

{'Name': ['Arghya', 'Himaghna', 'Subham'],
 'Age': (23, 24, 22),
 'Profession': {'Business', 'Job', 'Social Work'},
 'Experience': {'DS': '1 year', 'Tea Business': '5 years'}}

In [177]:
d16

{'Name': ['Arghya', 'Himaghna', 'Subham'],
 'Age': (23, 24, 22),
 'Profession': {'Business', 'Job', 'Social Work'},
 'Experience': {'DS': '1 year', 'Tea Business': '5 years'},
 'Country': 'india'}

In [178]:
 d17 = d16 # It's also a copy process but it's not a deep copy i.e, a shallow copy

In [179]:
d17

{'Name': ['Arghya', 'Himaghna', 'Subham'],
 'Age': (23, 24, 22),
 'Profession': {'Business', 'Job', 'Social Work'},
 'Experience': {'DS': '1 year', 'Tea Business': '5 years'},
 'Country': 'india'}

In [180]:
 del d16["Country"]

In [181]:
d16

{'Name': ['Arghya', 'Himaghna', 'Subham'],
 'Age': (23, 24, 22),
 'Profession': {'Business', 'Job', 'Social Work'},
 'Experience': {'DS': '1 year', 'Tea Business': '5 years'}}

In [182]:
d17 # Changing in d16 will impact the result of d17

{'Name': ['Arghya', 'Himaghna', 'Subham'],
 'Age': (23, 24, 22),
 'Profession': {'Business', 'Job', 'Social Work'},
 'Experience': {'DS': '1 year', 'Tea Business': '5 years'}}

In [183]:
d16.pop()

TypeError: pop expected at least 1 argument, got 0

In [184]:
d16.pop("Experience") # To remove an key with value

{'DS': '1 year', 'Tea Business': '5 years'}

In [185]:
d16

{'Name': ['Arghya', 'Himaghna', 'Subham'],
 'Age': (23, 24, 22),
 'Profession': {'Business', 'Job', 'Social Work'}}

In [221]:
D1 = {}
D2 = D.fromkeys((1,2,3),('x', 'y', 'z')) # It helps to create a dictionary

In [222]:
D2

{1: ('x', 'y', 'z'), 2: ('x', 'y', 'z'), 3: ('x', 'y', 'z')}

In [210]:
D3 = {}
D4 = D3.fromkeys(('a', 'b', 'c'),(4, 5, 6))

In [211]:
D4

{'a': (4, 5, 6), 'b': (4, 5, 6), 'c': (4, 5, 6)}

In [213]:
(D2,D4) # Dictionaries inside Tuple

({1: ('x', 'y', 'z'), 2: ('x', 'y', 'z'), 3: ('x', 'y', 'z')},
 {'a': (4, 5, 6), 'b': (4, 5, 6), 'c': (4, 5, 6)})

In [215]:
list(D2,D4)

TypeError: list expected at most 1 argument, got 2

In [216]:
d18 = {"Key1" : "Value1","Key2" : "Value2"}
d19 = {"Key3" : "Value3","Key4" : "Value4"}

In [223]:
(d18,d19) # Dictionaries inside Tuple

({'Key1': 'Value1', 'Key2': 'Value2'}, {'Key3': 'Value3', 'Key4': 'Value4'})

In [229]:
d18.update(d19) # To update a dictionary with the help of another one

In [230]:
d18

{'Key1': 'Value1', 'Key2': 'Value2', 'Key3': 'Value3', 'Key4': 'Value4'}

In [227]:
d19.update(d18)

In [228]:
d19

{'Key3': 'Value3', 'Key4': 'Value4', 'Key1': 'Value1', 'Key2': 'Value2'}

In [233]:
d19.get("Key1") # To get a value of a specific keyword

'Value1'

In [236]:
d19.get("Key7") # if the key exists it will return the value else it will return nothing.

In [237]:
d19["Key2"]  # It will also give the same output like get function

'Value2'

In [238]:
d19["Key7"] # Unlike get function it will give an error.

KeyError: 'Key7'

In [235]:
d15.get("Name")

['Arghya', 'Himaghna', 'Subham']

In [239]:
d15["Name"]

['Arghya', 'Himaghna', 'Subham']

In [266]:
d15.clear() # To clear all elements in dictionary

In [267]:
d15

{}

In [268]:
len(d15)

0

#### Dictionary Comprehension

In [243]:
{i : i**2 for i in range(1,11)}

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100}

In [242]:
list(range(1,11))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [244]:
{i : i+6 for i in range(1,11)}

{1: 7, 2: 8, 3: 9, 4: 10, 5: 11, 6: 12, 7: 13, 8: 14, 9: 15, 10: 16}

In [245]:
{i : i*5 for i in range(1,11)}

{1: 5, 2: 10, 3: 15, 4: 20, 5: 25, 6: 30, 7: 35, 8: 40, 9: 45, 10: 50}

In [1]:
import math
d20 = {i : math.log10(i) for i in range(1,11)}

In [253]:
d20

{1: 0.0,
 2: 0.3010299956639812,
 3: 0.47712125471966244,
 4: 0.6020599913279624,
 5: 0.6989700043360189,
 6: 0.7781512503836436,
 7: 0.8450980400142568,
 8: 0.9030899869919435,
 9: 0.9542425094393249,
 10: 1.0}

In [260]:
d21 = {i : math.factorial(i) for i in range(1,11)}

In [261]:
d21

{1: 1,
 2: 2,
 3: 6,
 4: 24,
 5: 120,
 6: 720,
 7: 5040,
 8: 40320,
 9: 362880,
 10: 3628800}

In [248]:
d18

{'Key1': 'Value1', 'Key2': 'Value2', 'Key3': 'Value3', 'Key4': 'Value4'}

In [249]:
"Key3" in d18

True

In [250]:
"Key7" in d18

False

In [254]:
d20

{1: 0.0,
 2: 0.3010299956639812,
 3: 0.47712125471966244,
 4: 0.6020599913279624,
 5: 0.6989700043360189,
 6: 0.7781512503836436,
 7: 0.8450980400142568,
 8: 0.9030899869919435,
 9: 0.9542425094393249,
 10: 1.0}

In [256]:
d20.keys()

dict_keys([1, 2, 3, 4, 5, 6, 7, 8, 9, 10])

In [259]:
# Iterating using for loop

In [262]:
# Print only those values which have even keywords
for i in d20.keys():
    if i % 2 == 0:
        print(i, d20[i])

2 0.3010299956639812
4 0.6020599913279624
6 0.7781512503836436
8 0.9030899869919435
10 1.0

In [265]:
# Print only those values which have odd keywords
for i in d21.keys():
    if i % 2 != 0:
        print(i, ":" , d21[i])

1 : 1
3 : 6
5 : 120
7 : 5040
9 : 362880