## 03/02/2020

## Functions

In-build Function

In [1]:
print("This is my program")

This is my program

In [2]:
l = [1,2,3,4]

In [4]:
len(l)

4

Define your own function

In [5]:
def test():  ## def = definition, test is a function name. Function name can be chosen by your own but it can't be a reserved name in python.
    pass()   ## Pass - It helps to pass the entire definition

SyntaxError: invalid syntax (2108651459.py, line 2)

In [8]:
def test1():  
    print("This is my very first function")

In [9]:
test1()

This is my very first function

In [37]:
type(test())

This is my very first function

NoneType

In [10]:
test1()+"Arghya"  # Print only returns the none type function

This is my very first function

TypeError: unsupported operand type(s) for +: 'NoneType' and 'str'

In [14]:
def test2(): 
    return "This is my function with return "

In [15]:
test2()

'This is my function with return '

In [17]:
test2() + "Arghya"  # Return returns the data type as it is that's why concatenation is possible,On the other hand print return the none type of the the data.

'This is my function with return Arghya'

In [40]:
def test3():
    return 1, 4, "PWSKILLS", 34.52, True

In [41]:
test3()

(1, 4, 'PWSKILLS', 34.52, True)

In [42]:
a = 1,2,3,4,5.2,True  #hold multiple data in a single variable

In [43]:
a

(1, 2, 3, 4, 5.2, True)

In [44]:
a,b,c,d,e = 1,2,3,5.2,True #hold multiple data in multiple variable

In [45]:
a

1

In [46]:
b

2

In [47]:
c

3

In [48]:
d

5.2

In [49]:
e

True

In [50]:
test3() # It return the data in tuples

(1, 4, 'PWSKILLS', 34.52, True)

In [51]:
type(test3())

tuple

In [52]:
# extracting
test3()[0]

1

In [53]:
test3()[3]

34.52

In [54]:
type(test3()[3])

float

In [56]:
test3()[4]

True

In [55]:
type(test3()[4])

bool

In [59]:
test3()[::-1]

(True, 34.52, 'PWSKILLS', 4, 1)

In [60]:
a,b,c,d,e = test3()

In [61]:
e

True

In [62]:
c

'PWSKILLS'

In [63]:
def test4():
    a = 3*4+5
    return a

In [64]:
test4()

17

In [65]:
type(test4())

int

In [93]:
def test5(a,b):  # To pass data we have to write it inside the ( , ) , a & b are arguments
    c = a + b
    return c

In [79]:
test5()

TypeError: test5() missing 2 required positional arguments: 'a' and 'b'

In [92]:
test5(147,253)  # You must have to pass two data set as you arguments them in test5(a,b),where a, are arguments

400

In [84]:
test5("Arghya ", "Chatterjee") # Concatenation operation

'Arghya Chatterjee'

In [86]:
test5([1,2,3],[4,5,6]) # List concatenation

[1, 2, 3, 4, 5, 6]

In [89]:
test5({1,2,3},{4,5,6}) # set concatenation

TypeError: unsupported operand type(s) for +: 'set' and 'set'

In [91]:
test5((1,2,3),(4,5,6)) # Tuple concatenation

(1, 2, 3, 4, 5, 6)

In [94]:
test5(b = [1,2,3], a=[4,5,6]) # To change the position

[4, 5, 6, 1, 2, 3]

In [98]:
l1 = [1,2,3,4.1,5,"Arghya","Parents",[1,2,3,45,56]]

In [99]:
l

[1, 2, 3, 4]

Q.  Create a Function which will take a list as a input and give a final list with all numeric value.

In [106]:
def test6(a):  ## a is a list
    n = []
    for i in a :
        if type(i) == int or type(i) == float :
            n.append(i)
    return n

In [107]:
test6([1,2,3,4.1,5,"Arghya","Parents",[1,2,3,45,56]])

[1, 2, 3, 4.1, 5]

In [110]:
def test6(a):  ## a is a list
    n = []
    for i in a :
        if type(i) == list:
            n.append(i)
    return n

In [111]:
test6([1,2,3,4.1,5,"Arghya","Parents",[1,2,3,45,56]])

[[1, 2, 3, 45, 56]]

In [122]:
def test6(a):  
    n = []
    for i in a :
        if type(i) == str :
            n.append(i)
    return n

In [123]:
test6([1,2,3,4.1,5,"Arghya","Parents",[1,2,3,45,56]])

['Arghya', 'Parents']

Q.  Create a Function which will take a list as a input and give a final list with all numeric value and even in nested list.

In [124]:
def test7(a):  ## a is a list
    n = []
    for i in a :
        if type(i) == list:
            for j in i:
                if type(j) == int or type(j) == float:
                    n.append(j)
        else:
            if type(i) == int or type(i) == float:
                n.append(i)
    return n

In [125]:
test7([1,2,3,4.1,5,"Arghya","Parents",[1,2,3,45,5.6,"India"]])

[1, 2, 3, 4.1, 5, 1, 2, 3, 45, 5.6]

In [2]:
def test8(a,b,c,d,e):
    pass

In [4]:
test8(2,1,5,4,3,9,8) # It will give an error as we take 5 positional arguments

TypeError: test8() takes 5 positional arguments but 7 were given

To avoid this problemn we have to use *args By which we can create aany number of positional arguments and can give any number of arguments. But ""arg"" is not a keyword. So you can take your name in place of arg.

In [6]:
def test9(*args):   # *args Will return any number of argument acoording to your requirement 
    return args

In [7]:
test9(1)

(1,)

In [8]:
test9(1,2,5,7)

(1, 2, 5, 7)

In [11]:
test9("Arghya",[1,2,3.5],True,(6,2,4)) # It Can take n number of arguments

('Arghya', [1, 2, 3.5], True, (6, 2, 4))

In [13]:
def test10(*arghya): 
    return arghya

In [14]:
test10(1,5,9,5.3,"India")

(1, 5, 9, 5.3, 'India')

In [20]:
def test11(*args,a):  # Here a is an additional arghuments
    return args, a

In [21]:
test11(8,6,2,4,8,"CR7") # you have to pass a data for "a"

TypeError: test11() missing 1 required keyword-only argument: 'a'

In [22]:
test11(8,6,2,4,8, a = "CR7")

((8, 6, 2, 4, 8), 'CR7')

In [39]:
def test12(*args): # Pass only list
    l = []
    for i in args:
        if type(i) == list:
            l.append(i)
    return l

In [27]:
test12(1,2,3,[1,2,3,4,0],(1,2,3,4),"Arghya",["Apple","Banana"], [69,3.14])

[[1, 2, 3, 4, 0], ['Apple', 'Banana'], [69, 3.14]]

To make a dictionary with using definition we have to pass **kwargs, where 1st * is for keywords and another is for value.

In [28]:
def test13(**kwargs):
    return kwargs

In [30]:
test13()

{}

In [31]:
type(test13())

dict

In [38]:
test13(a = 13, b = 56, c = ( "kolkata","Ganga"))

{'a': 13, 'b': 56, 'c': ('kolkata', 'Ganga')}

In [1]:
def test14(**kwargs):  # Extract list from Dictionary
    for i in kwargs.keys():
        if type(kwargs[i]) == str:
            return i, kwargs[i]

In [3]:
test14(a = 13, b = 56, c = [1,5], d = ( "kolkata","Ganga"), e = "Kolkata")

('e', 'Kolkata')

In [93]:
def test14(**kwargs):  # Extract boolean from Dictionary
    for i in kwargs.keys():
        if type(kwargs[i]) == bool:
            return i, kwargs[i]

In [94]:
test15(a = 13, b = 56, c = [1,5], d = ( "kolkata","Ganga"), e = True, f = False)

('e', True)

In [95]:
def test14(**kwargs):  # Extract string from Dictionary
    for i in kwargs.keys():
        if type(kwargs[i]) == str:
            return i, kwargs[i]

In [98]:
test14(a = 13, b = "Virat", c = [1,5], d = ( "kolkata","Ganga"), e = True, f = False)

('b', 'Virat')

In [4]:
def test14(**kwargs):  # Extract integer from Dictionary but in this case loop will break when the condition is satisfied
    for i in kwargs.keys():    # b = 56 won't be shown as loop will break after the 1st condition is satisfied
        if type(kwargs[i]) == int:
            return i, kwargs[i]

In [5]:
test14(a = 19, b = 56, c = "Virat", d = ( "kolkata","Ganga"), e = True, f = False)

('a', 19)

In [113]:
def test14(**kwargs):  # Extract integer from Dictionary using list
    l = []
    for i in kwargs.keys():
        if type(kwargs[i]) == int:
            l.append((i,kwargs[i]))
    return l

In [114]:
test14(a = 19, b = 56, c = "Virat", d = ( "kolkata","Ganga"), e = True, f = False)

[('a', 19), ('b', 56)]

In [6]:
def test16(*args, **kwargs): # *args for n number of arguments and **kwargs for n number of arguments in dictionary 
    return args, kwargs

In [7]:
test16(2,5,8,9, a = 78,b = 98, c = "India")

((2, 5, 8, 9), {'a': 78, 'b': 98, 'c': 'India'})

In [8]:
type(test16())

tuple

### Generator Function

1.Return value:
A normal function returns a value using the "return" statement, whereas a generator function uses the "yield" statement to return a generator object that can be used to iterate over a sequence of values.

2.Memory usage:
A normal function creates and returns a single value, which may require a lot of memory if it contains a large data structure or list. In contrast, a generator function can produce a sequence of values one at a time, allowing it to be more memory-efficient.

In [9]:
range(1,10)

range(1, 10)

In [11]:
for i in range(1,10):
    print(i, end = " ")

1 2 3 4 5 6 7 8 9

In [18]:
l = [1,2,3,4,5,6,7,8,9,"Kohli", "CR7"]

Normal Function takes a lot of space in memory. When number of inputs are very large it may create problem and takes lots of times

In [22]:
def test17(a):
    n = []
    for i in a : 
        if type(i) == str:
            n.append(i)
    return n

In [23]:
test17(l)

['Kohli', 'CR7']

Q. USING GENERATOR FUNCTION CREATE FIBONACCI SERIES  
   Fibonacci Series:
       0,1,1,2,3,5,8,13,21,34

Generator function only takes the range and deal with it, so it doesn't take much space in memory.

In [25]:
def test_fib(n):
    a,b = 0,1
    for i in range(n):
        yield a    # Try to give record one by one
        a,b = b, a+b

In [26]:
test_fib(10)

To get the value from inside the range we have to use loop

In [27]:
for i in test_fib(10):
    print(i)

0
1
1
2
3
5
8
13
21
34

In [28]:
def get_even_numbers(n):
    even_numbers = []
    for i in range(n):
        if i % 2 == 0:
            even_numbers.append(i)
    return even_numbers

In [29]:
get_even_numbers(10)

[0, 2, 4, 6, 8]

In [30]:
def get_even_numbers(n):
    for i in range(n):
        if i % 2 == 0:
            yield i

In [31]:
get_even_numbers(10)

In [35]:
for i in get_even_numbers(10):
    print(i)

0
2
4
6
8

In [36]:
def generate_even_numbers(n):
    for i in range(n):
        if i % 2 == 0:
            yield i

# Call the generator function and convert the output to a list
even_numbers_list = list(generate_even_numbers(10))

# Print the list of even numbers
print(even_numbers_list)

[0, 2, 4, 6, 8]