In [30]:
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
from sklearn import preprocessing
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split

In [31]:
df=pd.read_csv("C:/Users/MAKAUT-IT/Downloads/survey lung cancer.csv")
df.columns

Index(['GENDER', 'AGE', 'SMOKING', 'YELLOW_FINGERS', 'ANXIETY',
       'PEER_PRESSURE', 'CHRONIC DISEASE', 'FATIGUE ', 'ALLERGY ', 'WHEEZING',
       'ALCOHOL CONSUMING', 'COUGHING', 'SHORTNESS OF BREATH',
       'SWALLOWING DIFFICULTY', 'CHEST PAIN', 'LUNG_CANCER'],
      dtype='object')

In [33]:
df.head(40)

,GENDER,AGE,SMOKING,YELLOW_FINGERS,ANXIETY,PEER_PRESSURE,CHRONIC DISEASE,FATIGUE,ALLERGY,WHEEZING,ALCOHOL CONSUMING,COUGHING,SHORTNESS OF BREATH,SWALLOWING DIFFICULTY,CHEST PAIN,LUNG_CANCER
0,M,69,1,2,2,1,1,2,1,2,2,2,2,2,2,YES
1,M,74,2,1,1,1,2,2,2,1,1,1,2,2,2,YES
2,F,59,1,1,1,2,1,2,1,2,1,2,2,1,2,NO
3,M,63,2,2,2,1,1,1,1,1,2,1,1,2,2,NO
4,F,63,1,2,1,1,1,1,1,2,1,2,2,1,1,NO
5,F,75,1,2,1,1,2,2,2,2,1,2,2,1,1,YES
6,M,52,2,1,1,1,1,2,1,2,2,2,2,1,2,YES
7,F,51,2,2,2,2,1,2,2,1,1,1,2,2,1,YES
8,F,68,2,1,2,1,1,2,1,1,1,1,1,1,1,NO
9,M,53,2,2,2,2,2,1,2,1,2,1,1,2,2,YES
10,F,61,2,2,2,2,2,2,1,2,1,2,2,2,1,YES
11,M,72,1,1,1,1,2,2,2,2,2,2,2,1,2,YES
12,F,60,2,1,1,1,1,2,1,1,1,1,2,1,1,NO
13,M,58,2,1,1,1,1,2,2,2,2,2,2,1,2,YES
14,M,69,2,1,1,1,1,1,2,2,2,2,1,1,2,NO
15,F,48,1,2,2,2,2,2,2,2,1,2,2,2,1,YES
16,M,75,2,1,1,1,2,1,2,2,2,2,2,1,2,YES
17,M,57,2,2,2,2,2,1,1,1,2,1,1,2,2,YES
18,F,68,2,2,2,2,2,2,1,1,1,2,2,1,1,YES
19,F,61,1,1,1,1,2,2,1,1,1,1,2,1,1,NO
20,F,44,2,2,2,2,2,2,1,1,1,1,2,2,1,YES
21,F,64,1,2,2,2,1,1,2,2,1,2,1,2,1,YES
22,F,21,2,1,1,1,2,2,2,1,1,1,2,1,1,NO
23,M,60,2,1,1,1,1,2,2,2,2,2,2,1,2,YES
24,M,72,2,2,2,2,2,1,2,2,2,2,1,2,2,YES
25,M,65,1,2,2,1,1,2,1,2,2,2,2,2,2,YES
26,F,61,2,2,2,1,1,2,2,1,2,1,2,2,2,YES
27,M,69,1,1,1,2,1,2,1,2,1,2,2,1,2,NO
28,F,53,2,2,2,1,2,1,1,2,2,1,2,2,2,YES
29,M,55,1,2,1,1,1,2,1,2,2,2,2,1,1,NO
30,F,57,2,2,1,1,1,1,1,1,1,1,2,1,1,NO
31,M,62,2,1,2,1,1,1,2,2,2,1,2,2,2,YES
32,M,56,2,2,2,1,1,1,1,1,1,1,2,2,1,NO
33,F,67,2,2,2,1,2,1,1,1,1,1,2,2,2,YES
34,M,59,1,2,2,1,1,1,1,1,1,1,1,2,2,NO
35,F,59,2,2,2,1,2,1,1,1,1,1,2,2,1,YES
36,M,60,1,2,1,1,2,1,1,2,1,2,2,1,2,YES
37,F,56,1,1,1,1,2,1,1,2,1,1,2,2,1,NO
38,M,56,2,1,1,1,2,1,1,2,1,1,2,1,2,YES
39,M,60,2,1,1,1,2,1,2,2,2,2,1,1,2,YES

In [8]:
df.GENDER

0      M
1      M
2      F
3      M
4      F
      ..
304    F
305    M
306    M
307    M
308    M
Name: GENDER, Length: 309, dtype: object

In [11]:
print(df['FATIGUE '])

0      2
1      2
2      2
3      1
4      1
      ..
304    2
305    2
306    1
307    2
308    2
Name: FATIGUE , Length: 309, dtype: int64

In [12]:
df[['FATIGUE ']]

     FATIGUE
0           2
1           2
2           2
3           1
4           1
..        ...
304         2
305         2
306         1
307         2
308         2

[309 rows x 1 columns]

In [14]:
df.isnull().count()

GENDER                   309
AGE                      309
SMOKING                  309
YELLOW_FINGERS           309
ANXIETY                  309
PEER_PRESSURE            309
CHRONIC DISEASE          309
FATIGUE                  309
ALLERGY                  309
WHEEZING                 309
ALCOHOL CONSUMING        309
COUGHING                 309
SHORTNESS OF BREATH      309
SWALLOWING DIFFICULTY    309
CHEST PAIN               309
LUNG_CANCER              309
dtype: int64

In [17]:
df.drop(df.columns[[0,1]],axis=1,inplace=True)

In [19]:
y=df.iloc[:,13]

In [20]:
y

0      YES
1      YES
2       NO
3       NO
4       NO
      ...
304    YES
305    YES
306    YES
307    YES
308    YES
Name: LUNG_CANCER, Length: 309, dtype: object

In [21]:
x=df.iloc[:,0:13]

In [22]:
x

,SMOKING,YELLOW_FINGERS,ANXIETY,PEER_PRESSURE,CHRONIC DISEASE,FATIGUE,ALLERGY,WHEEZING,ALCOHOL CONSUMING,COUGHING,SHORTNESS OF BREATH,SWALLOWING DIFFICULTY,CHEST PAIN
0,1,2,2,1,1,2,1,2,2,2,2,2,2
1,2,1,1,1,2,2,2,1,1,1,2,2,2
2,1,1,1,2,1,2,1,2,1,2,2,1,2
3,2,2,2,1,1,1,1,1,2,1,1,2,2
4,1,2,1,1,1,1,1,2,1,2,2,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
304,1,1,1,2,2,2,1,1,2,2,2,2,1
305,2,1,1,1,1,2,2,2,2,2,2,1,2
306,2,1,1,1,1,1,2,2,2,2,1,1,2
307,2,1,2,1,1,2,2,1,2,2,2,1,2
308,1,1,1,2,1,2,2,2,2,1,1,2,1

In [24]:
x_train,x_test,y_train,y_test=train_test_split(x,y,random_state=0)

In [25]:
classifier=LogisticRegression(solver='lbfgs',random_state=0)

In [26]:
classifier.fit(x_train,y_train)

LogisticRegression(random_state=0)

In [27]:
predicted_y=classifier.predict(x_test)
predicted_y

array(['YES', 'YES', 'YES', 'YES', 'YES', 'YES', 'YES', 'YES', 'YES',
       'YES', 'YES', 'YES', 'YES', 'YES', 'YES', 'YES', 'YES', 'NO',
       'YES', 'NO', 'YES', 'YES', 'YES', 'YES', 'NO', 'NO', 'YES', 'YES',
       'YES', 'YES', 'YES', 'YES', 'YES', 'YES', 'YES', 'YES', 'YES',
       'YES', 'YES', 'YES', 'YES', 'YES', 'YES', 'YES', 'YES', 'NO',
       'YES', 'YES', 'YES', 'NO', 'YES', 'YES', 'YES', 'YES', 'YES',
       'YES', 'YES', 'NO', 'YES', 'YES', 'YES', 'YES', 'YES', 'YES',
       'YES', 'YES', 'YES', 'YES', 'YES', 'YES', 'YES', 'YES', 'YES',
       'YES', 'YES', 'YES', 'YES', 'YES'], dtype=object)

In [28]:
for x in range(len(predicted_y)):
    if (predicted_y[x]=='NO'):
        print(x,end='\t')

17	19	24	25	45	49	57

In [29]:
for x in range(len(predicted_y)):
    if (predicted_y[x]=='YES'):
        print(x,end='\t')

0	1	2	3	4	5	6	7	8	9	10	11	12	13	14	15	16	18	20	21	22	23	26	27	28	29	30	31	32	33	34	35	36	37	38	39	40	41	42	43	44	46	47	48	50	51	52	53	54	55	56	58	59	60	61	62	63	64	65	66	67	68	69	70	71	72	73	74	75	76	77