## Measures Of Dispersion

In [2]:
ages = [23,43,23,56,74,32,68,98,45,32]

In [3]:
import numpy as np
np.mean(ages)

49.4

In [4]:
np.var(ages)

541.64

In [5]:
np.std(ages)

23.273160507331188

In [6]:
import pandas as pd

In [7]:
data = [[10,12,13],[34,23,45],[32,34,21]]
data

[[10, 12, 13], [34, 23, 45], [32, 34, 21]]

In [10]:
df = pd.DataFrame(data, columns = ["A","B","C"])
df

    A   B   C
0  10  12  13
1  34  23  45
2  32  34  21

In [16]:
# Column Wise
# If var(Axis=none) it will calculate the variance Column wise by default
df.var()

A    177.333333
B    121.000000
C    277.333333
dtype: float64

In [17]:
# Column Wise
df.var(axis = 0)

A    177.333333
B    121.000000
C    277.333333
dtype: float64

In [15]:
# Row wise
df.var(axis = 1)

0      2.333333
1    121.000000
2     49.000000
dtype: float64